<% unless @page == 'Home' %>
  <%= a('< Home', :Home) %>
<% end %>

<h1><%= h @page %></h1>

<% if @text.empty? %>
  <%= a("Create #@page", :edit, @page) %>
<% else %>
  <%= a("Edit #@page", :edit, @page) %>
  <%= Maruku.new(@text).to_html %>
<% end %>
