<% unless @page == 'Home' %>
<a href="<%= r 'Home' %>">&lt; Home</a>
<% end %>
<h1><%= h @page %></h1>
<% if @text.empty? %>
<a href="<%= r :edit, @page %>"><%= h "Create #{@page}" %></a>
<% else %>
<a href="<%= r :edit, @page %>"><%= h "Edit #{@page}" %></a>
<%= Maruku.new(@text).to_html %>
<% end %>
